body,
html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 1px;
    background-color: #fff;
    color: #bdbdbd
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    color: #bdbdbd
}

p {
    font-size: 16px;
    line-height: 26px
}

b,
strong {
    font-weight: 700
}

cite,
dfn,
em,
i {
    font-style: italic
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 22px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
    outline: none
}

ol,
ul {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.effect {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hor-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.ver-center {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.center,
.ver-center {
    position: absolute;
    top: 50%
}

.center {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.mb-30 {
    margin-bottom: 30px
}

.page-table {
    display: table;
    width: 100%;
    height: 100%
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    z-index: 5
}

.section {
    background-color: #020505;
    padding: 100px 0
}

.second-bg {
    background-color: #555
}

.section-title {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize
}

.section-title h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 50px;
    height: 2px;
    background-color: #444
}

.loader-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212227;
    z-index: 99
}

.loader-con .spinner {
    width: 100px;
    height: 100px
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.cssload-inner.cssload-one {
    left: 0;
    top: 0;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;
    border-bottom: 3px solid #5c5edc
}

.cssload-inner.cssload-two {
    right: 0;
    top: 0;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 3px solid rgba(76, 70, 101, .99)
}

.cssload-inner.cssload-three {
    right: 0;
    bottom: 0;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 3px solid #e9908a
}

@keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotate(0deg)
    }
    to {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(1turn);
        transform: rotateX(35deg) rotateY(-45deg) rotate(1turn)
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(0deg)
    }
    to {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotate(1turn)
    }
}

@keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotate(0deg)
    }
    to {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(1turn);
        transform: rotateX(50deg) rotateY(10deg) rotate(1turn)
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(0deg)
    }
    to {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotate(1turn)
    }
}

@keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotate(0deg)
    }
    to {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(1turn);
        transform: rotateX(35deg) rotateY(55deg) rotate(1turn)
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(0deg)
    }
    to {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotate(1turn)
    }
}

.nav-wrapper {
    width: 100%;
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 20
}

.nav-wrapper .navbar-toggle .icon-bar {
    background-color: #fff
}

.nav-wrapper .navbar {
    position: relative;
    min-height: 50px
}

.nav-wrapper .navbar-brand {
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #ddd;
    float: left
}

.nav-wrapper .nav li a {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #ddd
}

.nav-wrapper .nav li a:after {
    content: "";
    display: none;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 6px;
    left: 10%;
    background-color: #ddd;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out
}

.nav-wrapper .nav>li>a.active,
.nav-wrapper .nav>li>a:hover {
    background-color: transparent
}

.nav-wrapper .nav>li>a.active:after,
.nav-wrapper .nav>li>a:hover:after {
    width: 80%
}

.nav-wrapper .nav>li>a:focus {
    background-color: transparent
}

.nav-sticky {
    background-color: #fff!important;
    padding: 6px 0!important;
    border-bottom: 1px solid #f0f0f0
}

.nav-sticky .navbar-toggle .icon-bar {
    background-color: #232323
}

.nav-sticky .navbar-brand,
.nav-sticky .nav li a {
    color: #232323
}

.nav-sticky .nav li a:after {
    background-color: #3f3f3f
}

.nav-sticky .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)
}

.home-1 {
    position: relative;
    height: 100vh;
    min-height: 550px;
    background-image: url(../src/media/waterfall.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    -ms-background-size: cover;
    background-size: cover
}

.home-1:after {
    content: "";
    background-color: rgba(0, 0, 0, .68);
    z-index: 0
}

.home-1 #particles-js,
.home-1:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.home-1 #particles-js {
    z-index: 2
}

.avatar-hero img {
    width: 130px;
    margin: 0 auto;
    border: 3px solid #dfdfdf;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .52)
}

#home h1 {
    font-size: 34px;
    margin: 36px 0 22px;
    color: #fff
}

#home .typer-title {
    margin: 10px 0;
    font-size: 22px;
    color: #bfbfbf;
    text-transform: uppercase
}

.home-s-btn {
    display: block;
    bottom: 50px;
    height: 40px;
    width: 26px;
    border: 2px solid #efefef;
    border-radius: 14px
}

.home-s-btn .dot {
    display: block;
    height: 6px;
    width: 6px;
    background-color: #efefef;
    border-radius: 50%;
    -webkit-animation: dot-animation 1.8s ease-in-out infinite;
    animation: dot-animation 1.8s ease-in-out infinite
}

.table-cell p {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 26px 10px;
    color: #fff
}

.about-content h2 {
    margin-bottom: 30px;
    text-transform: capitalize
}

.about-content p {
    margin-bottom: 16px
}

.about-content ul li {
    margin-top: 8px;
    font-size: 14px;
    color: #e47d7d
}

.about-content ul li span {
    font-weight: 700;
    color: #b1a9a9
}

.about-content ul li span i {
    margin-right: 4px
}

.social-list {
    margin-top: 20px;
    margin-bottom: 20px
}

.social-list li {
    display: inline-block;
    margin: 4px
}

.social-list li a {
    display: inline-block;
    font-size: 16px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 36px;
    color: #e47d7d;
    border: 1px solid #888;
    border-radius: 50%
}

.social-list li:hover a {
    color: #fafafa;
    background-color: #232323;
    border-color: transparent
}

.skills-section {
    padding: 20px 10px
}

.progress-bar-linear {
    width: 100%
}

.MuiPaper-root {
    color: inherit!important;
    background-color: inherit!important
}

.subbar-position {
    color: #e47d7d;
    display: flex;
    flex-direction: column;
    padding: 8px 30px 24px!important
}

.progress-bar-text {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 700
}

.progress-cont {
    display: inline-block;
    float: right;
    margin-right: 10px
}

.progress-bar-linear .progress-bar-skills {
    position: relative;
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 12px
}

.progress-bar-skills .progress-bar-line {
    position: relative;
    width: 5%;
    height: 6px;
    background-color: #4f4f4f;
    -webkit-transition: all 1.6s ease-out;
    transition: all 1.6s ease-out;
    border-radius: 12px
}

.single-service {
    padding: 10px;
    text-align: center
}

.single-service.bordered {
    border-right: none;
    border-left: none
}

.clear-float {
    clear: both!important
}

.services-separator {
    display: none;
    width: 100%;
    margin: 15px auto;
    height: 1px;
    background: #dfdfdf
}

.service-icon .fa {
    font-size: 44px;
    line-height: 70px;
    color: #fff
}

.single-service:hover .service-icon .fa {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn)
}

.service-content h3 {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700
}

.s-line {
    margin: 12px auto 0;
    width: 55px;
    height: 1px;
    background-color: #333
}

.single-service p {
    margin-top: 12px;
    font-size: 14px
}

#work-list {
    margin-bottom: 40px
}

#work-list li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700
}

#work-list li .filter {
    position: relative;
    margin: 4px 8px
}

#work-list li .filter:after {
    content: "";
    position: absolute;
    bottom: calc(50% - 1px);
    left: 0;
    width: 0;
    height: 1px;
    background-color: #484848;
    -webkit-transition: width .24s ease-out;
    transition: width .24s ease-out
}

#work-list li .filter-active:after,
#work-list li .filter:hover:after {
    width: 100%
}

.single-work {
    position: relative;
    overflow: hidden
}

.single-work img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.single-work:hover img {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.work-overlay {
    position: absolute;
    pointer-events: none;
    padding: 12px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8)
}

.work-overlay:after {
    content: "";
    position: absolute;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    top: 12px;
    left: 12px;
    border: 1px solid #fdfdfd
}

.single-work:hover .work-overlay {
    opacity: 1
}

.work-overlay h3 {
    position: absolute;
    bottom: 40px;
    left: 26px;
    color: #eee;
    font-size: 18px
}

.work-overlay p {
    position: absolute;
    font-size: 12px;
    color: #ddd;
    left: 26px;
    bottom: 10px
}

.testimonial-slider {
    margin-bottom: 90px
}

.one-testimonial {
    position: relative;
    padding: 15px;
    color: #000
}

.testimonial-content {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dadada
}

.testimonial-content p {
    font-size: 15px;
    line-height: 1.6
}

.testimonial-content:after,
.testimonial-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0
}

.testimonial-content:before {
    bottom: -32px;
    left: 51px;
    border: 16px solid transparent;
    border-top-color: #dadada
}

.testimonial-content:after {
    bottom: -29px;
    left: 52px;
    border: 15px solid transparent;
    border-top-color: #fff
}

.testimonial-person:after {
    display: table;
    content: "";
    clear: both
}

.one-testimonial figure {
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    float: left;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .22)
}

.one-testimonial figure img {
    -webkit-filter: grayscale(.38);
    filter: grayscale(.38)
}

.testimonial-inf {
    padding-top: 10px;
    margin-left: 140px
}

.testimonial-inf h4 {
    margin-bottom: 4px
}

.testimonial-inf h4,
.testimonial-inf p {
    font-weight: 700
}

.testimonial-slider-btn {
    display: block;
    font-size: 28px;
    height: 40px;
    width: 40px;
    border: 1px solid #3f3f3f;
    bottom: -90px
}

.owl-next .testimonial-slider-btn {
    -webkit-transform: translateX(20%);
    transform: translateX(20%)
}

.owl-prev .testimonial-slider-btn {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%)
}

.testimonial-slider-btn:hover {
    color: #fafafa;
    background-color: #3f3f3f
}

.contact-item {
    position: relative
}

.contact-item:after {
    content: "";
    display: table;
    clear: both
}

.contact-item .c-icon {
    position: relative;
    top: 6px;
    width: 60px;
    height: 60px;
    float: left;
    background-color: #232323;
    border-radius: 50%
}

.contact-item .c-icon .fa {
    font-size: 20px;
    line-height: 58px;
    color: #fafafa
}

.contact-item .c-text {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px
}

.contact-item .c-text h5 {
    margin: 0 0 2px;
    font-size: 13px;
    text-transform: uppercase
}

.contact-item .c-text h6 {
    margin: 0;
    word-break: break-all
}

#contact-form {
    margin-top: 50px
}

.input-field {
    width: 100%;
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
    outline: none
}

textarea.input-field {
    height: 190px;
    resize: none
}

.email-error,
.error,
.message-error,
.name-error {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #ff2828
}

.success {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #1e9402
}

#form-message {
    float: left;
    width: 100%
}

.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    outline: none;
    background-color: #333;
    color: #fafafa;
    cursor: pointer
}

.submit-btn:hover {
    color: #111;
    background-color: transparent
}

.filtr-item {
    max-width: 400px
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #555
}

.footer-title {
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 700;
    color: #111
}

.footer-social-list li,
.footer-title {
    display: inline-block
}

.footer-social-list li a {
    font-size: 17px;
    color: #fff;
    margin: 0 9px
}

.footer-social-list li a:hover {
    color: #111
}

.footer .copy-text {
    margin: 8px 0;
    font-size: 15px;
    text-transform: capitalize
}

.scroll-up {
    position: fixed;
    font-size: 28px;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 38px;
    color: #fafafa;
    border: 2px solid #333;
    background-color: #333;
    bottom: 25px;
    right: 30px;
    opacity: 0;
    z-index: 60
}

.scroll-up:focus {
    color: #fff
}

.scroll-up:hover {
    background-color: transparent;
    color: #333
}

.show-up-btn {
    opacity: 1
}

@media screen and (min-width:768px) {
    .nav-wrapper {
        padding: 20px 0
    }
    .nav-sticky .navbar-collapse {
        box-shadow: none
    }
    .nav-wrapper .nav li a:after {
        display: block
    }
    .avatar-hero img {
        width: 170px
    }
    #home h1 {
        font-size: 50px
    }
    #home .typer-title {
        font-size: 26px
    }
    .home-slider-btn {
        display: block;
        opacity: 0
    }
    .home-carousel:hover .home-slider-btn {
        opacity: .8
    }
    .home-carousel:hover .owl-next.disabled .home-slider-btn,
    .home-carousel:hover .owl-prev.disabled .home-slider-btn {
        opacity: .4
    }
}

@media (min-width:992px) {
    .skills-section {
        padding-left: 20px
    }
    .home-1 {
        background-image: url( https://media.giphy.com/media/10hIshpW20ZmV2/giphy.gif )
    }
    .single-service.bordered {
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf
    }
    .services-separator {
        display: block
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-bounce {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.pokemon {
    position: fixed;
    z-index: 1000;
    bottom: 5%;
    left: 10%
}

.pokemonName {
    background-color: transparent;
    border: none;
    color: #c77474
}

#output {
    position: absolute;
    left: 100px;
    bottom: 80px;
    background: #c77474;
    border: 1px solid #c77474;
    display: none
}

#output:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    border: 8px solid transparent;
    border-right-color: #c77474;
    left: -18px;
    margin-top: -8px
}


/*# sourceMappingURL=main.a1e88cd0.chunk.css.map */